# Ігнорувати папку з залежностями Node.js
node_modules/
server/node_modules/
dist
# Ігнорувати файл із секретними ключами доступу
.env
.idea
server/.idea
# Ігнорувати системні файли Mac
.DS_Store

# Ігнорувати всі файли з розширенням .log
*.log